asgiref==3.2.10
Django==3.0.8
djangorestframework==3.11.0
psycopg2-binary
pytz==2020.1
sqlparse==0.3.1
gunicorn
requests
stripe
PyJWT
python-dotenv==0.10.3
django-extensions
whitenoise
django-allauth==0.41.0
