{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- ===== HEADER SECTION END ===== -->

    <!-- ===== LOGIN SECTION START ===== -->
    <div class="container header-container2 h-100">
        <div class="overlay"></div>
        <div class="row accounts-row">
            <div class="col-12 col-md-6">
                <div class="form-content">
                    <hr>
                    <h2 class="logo-font mb-4">Sign <span class="underlineTheme">In</span></h2>
                    <p>If you have not created an account yet, then please
                        <a href="{% url 'account_signup' %}">sign up</a> first.</p>

                        <p style="color: red;">
                            {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-error">
                                    <strong style="color: red;">{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-error">
                                    <strong style="color: red;">{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        </p>
                    <form class="login" action="{% url 'account_login' %}" method="POST" enctype="multipart/form-data">

                        {% csrf_token %}

                        <div id="div_id_login" class="form-group"> <label for="id_login" class=" requiredField">
                Login<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="text" name="login" placeholder="Username or e-mail" autofocus="autofocus" class="textinput textInput form-control" required="" id="id_login"> </div>
                        </div>
                        <div id="div_id_password" class="form-group"> <label for="id_password" class=" requiredField">
                Password<span class="asteriskField">*</span> </label>
                            <div class=""> <input type="password" name="password" placeholder="Password" class="textinput textInput form-control" required="" id="id_password"> </div>
                        </div>
                        <div class="form-group">
                            <div id="div_id_remember" class="form-check"> <input type="checkbox" name="remember" class="checkboxinput form-check-input" id="id_remember"> <label for="id_remember" class="form-check-label">
                    Remember Me
                </label> </div>
                        </div>

                        <a class="btn btn-outline-black rounded-0" href="/">Home</a>
                        <button class="primaryAction" type="submit">Sign In</button>
                        <p>
                            <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ===== LOGIN SECTION END ===== -->

    <!-- ===== FOOTER SECTION START ===== -->
    {% endblock %}