{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- ===== HEADER SECTION END ===== -->

    <!-- ===== REGISTER BODY SECTION START ===== -->
    <div class="container header-container2 h-100">
        <div class="overlay"></div>
        <div class="row accounts-row">
            <div class="col-12 col-md-6">
                <div class="form-content">
                    <hr />
                    <h2 class="logo-font mb-4">Add <span class="underlineTheme">Product</span></h2>
                    <hr />
                    <form class="signup" id="signup_form" action="{% url 'addproduct' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div id="div_id_email" class="form-group">
                            <div class="">
                                <select class="textinput textInput form-control" name="category">
                                    <option selected>Select Category</option>
                                    <option value="Supplements">Supplements</option>
                                    <option value="Merchandise">Merchandise</option>
                                    <option value="Online Coaching">Online Coaching</option>

                                </select>
                            </div><br>
                            <div class="">
                                <input type="text" name="name" placeholder="Product Name" class="textinput textInput form-control" required="" id="id_email" />
                            </div><br>
                            <div class="">
                                <input type="text" name="image_link" placeholder="Image Link" class="textinput textInput form-control" required="" id="id_email" />
                            </div><br>
                            <div class="">
                                <input type="text" name="rating" placeholder="Rating" class="textinput textInput form-control" required="" id="id_email" />
                            </div><br>
                            <div class="">
                                <input type="text" name="sku" placeholder="Enter Sku " class="textinput textInput form-control" required="" id="id_email" />
                            </div><br>
                            <div class="">
                                <input type="text" name="price" placeholder="Product Price" class="textinput textInput form-control" required="" id="id_email" />
                            </div><br>
                            <div class="">
                                <input type="text" name="description" placeholder="Product Description" class="textinput textInput form-control" required="" id="id_email" />
                            </div><br>
                            <div class="">
                                <input type="text" name="has_sizes" placeholder="Has Sizes" class="textinput textInput form-control" required="" id="id_email" />
                            </div>
                        </div>

                        <a class="btn btn-outline-black rounded-0" href="{% url 'index' %}">Cancel</a>
                        <button type="submit">Add Product</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ===== REGISTER BODY SECTION END ===== -->

{% endblock %}