{% extends "base.html" %}
{% load static %}
{% block content %}
		<!-- ===== HEADER SECTION END ===== -->

		<!-- ===== BODY SECTION START ===== -->
		<div class="bodyCont">
			<div class="container-fluid pb-4">
				<div class="row">
					<div class="col text-center mt-3">
						<h2 class="logo-font">Prog<span class="underlineTheme">rams</span></h2>
						<hr class="w-50 mb-1 mx-auto" />
					</div>
				</div>
				<div class="row">
					<div class="product-container col-10 offset-1">
						<div class="row mt-1 mb-2">
							<div
								class="
									col-12 col-md-6
									my-auto
									order-md-last
									d-flex
									justify-content-center justify-content-md-end
								"
							>
								<div class="sort-select-wrapper w-50">
									<form  action="{% url 'fitness' view_by='all' %}" method="POST" enctype="multipart/form-data" >
									<select
										id="sort-selector"
										name="sortby"
										class="
											custom-select custom-select-sm
											rounded-0
											border-dark
										"
									>
										<option value="reset" selected="">Sort by...</option>
										<option value="price_asc">Price (low to high)</option>
										<option value="price_desc">Price (high to low)</option>
										<option value="name_asc">Name (A-Z)</option>
										<option value="name_desc">Name (Z-A)</option>
										<option value="category_asc">Category (A-Z)</option>
										<option value="category_desc">Category (Z-A)</option>
									</select>
								</div>
								<input type="submit" value="apply">
							</form>
							</div>
							<div class="col-12 col-md-6 order-md-first">
								<p class="text-muted mt-3 text-center text-md-left">
									<span class="small"
										><a href="">Back to Fitness Programs</a> |
									</span>
									{{count}} Products
								</p>
							</div>
						</div>
						<div class="row">
							{% for d in data %}
							<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
								<div class="card h-100 border-0">
									<a href="{% url 'product' pid=d.id %}">
										<img
											class="cardImg"
											src="{{d.image_link}}"
											alt="Body Building"
										/>
									</a>
	
									<div class="card-body pb-0">
										<p class="mb-0">{{d.name}}</p>
									</div>
									<div class="card-footer bg-white pt-0 border-0 text-left">
										<div class="row">
											<div class="col">
												<p class="lead mb-0 text-left font-weight-bold">${{d.price}}</p>
	
												<p class="small mt-1 mb-0">
													<a
														class="text-muted"
														href = "{% url 'fitness' view_by='all' %}"
													>
														<i class="fas fa-tag mr-1" aria-hidden="true"></i
														>{{d.category}}
													</a>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
		
						</div>
					</div>
				</div>
			</div>
			<!-- ===== BODY SECTION END ===== -->

    <!-- ===== FOOTER SECTION START ===== -->
	<footer class="container-fluid" id="footer">
		<div class="row text-center text-black footer-icons">
			<div class="col-12 mt-4">
				<h3 class="font-weight-bold logo-font">LUKE DUFFY <span class="underlineTheme"> FITNESS</span></h3>
			</div>
			<div class="col mt-1">
				<a
					href="https://www.facebook.com/"
					target="_blank"
					class="footer-icon"
				>
					<i class="fab fa-facebook-f social-icon" aria-hidden="true"></i>
				</a>
				<a href="https://www.instagram.com/" target="_blank" class="footer-icon">
					<i class="fab fa-instagram social-icon" aria-hidden="true"></i>
				</a>
				<a href="https://www.youtube.com/" class="footer-icon">
                    <i class="fab fa-youtube social-icon" aria-hidden="true"></i>
                </a>
				<a href="https://twitter.com/" class="footer-icon">
					<i class="fab fa-twitter social-icon" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		<div class="row text-center text-black footer-links mt-3">
		</div>
		<!-- <div class="row text-center text-black footer-links">
			<div class="col">
				<a
					href = "{% url 'blogs' %}"
					class="text-uppercase font-weight-bold footer-links"
					>View Blog</a
				>
			</div>
		</div> -->
		<div class="row mt-2 text-center text-black copyright-text">
			<div class="col">
				<p>© Luke Duffy Fitness 2021</p>
			</div>
		</div>
	</footer>
		</div>
		<!-- ===== FOOTER SECTION END ===== -->


{% block postloadjs %}
	<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
        {% endblock %}
        {% endblock %}