{% extends "base.html" %}
{% load static %}
{% block content %}
		<!-- ===== HEADER SECTION END ===== -->

		<!-- ===== TESTIMONIALS SECTION START ===== -->
		<div class="container blog-heading">
			<div class="row">
				<div class="col-12">
					<hr />
					<h2 class="logo-font mb-4">Customer <span class="underlineTheme">Testimonials</span></h2>
					<h5 class="font-weight-bold">
						View feedback from our customers below
					</h5>
					<hr />
					<img
						class="w-100 testimonials-page-image"
						src="https://i.ibb.co/2ncYwz4/one-caucasian-woman-exercising-crunches-fitness-in-studio-silhouette-isolated-on-white-background.jpg"
						alt="Responsive image"
					/>
				</div>
			</div>
		</div>

		<!-- <div class="container testimonials-container"> -->
			<!-- ***** Testimonials Start ***** -->
		<section id="testimonials" class="testimonials">
			<div class="container">
				<div
					class="testimonials-slider swiper-container"
				>
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="testimonial-item">
								<div class="stars">
									<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
									><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
									><i class="bi bi-star-fill"></i>
								</div>
								<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
									I just wanna say thanks for everything man from start to finish you have really helped me get an understanding of how to cut properly. All my questions have been answered and I feel that I now can go on by myself and continue on in the cut for another for weeks.
									<i class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>
								<h3>Saul Goodman</h3>
								<div class="profile mt-auto">
									<img
										src="{% static 'images/testimonials/testimonials-1.jpg' %}"
										class="testimonial-img"
										alt=""
									/>	
								</div>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-item">
								<div class="stars">
									<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
									><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
									><i class="bi bi-star-fill"></i>
								</div>
								<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
														Looking back on my first picture I sent to you makes me realise how far I've gotten in this cut.Starting at 87kg and now at around 75kg. I'm so happy with the results. Thanks for everything man and hopefully we can talk again someday

									<i class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>
								<h3>Sara Wilsson</h3>
								<div class="profile mt-auto">
									<img
										src="{% static 'images/testimonials/testimonials-2.jpg' %}"
										class="testimonial-img"
										alt=""
									/>
									
								</div>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-item">
								<div class="stars">
									<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
									><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
									><i class="bi bi-star-fill"></i>
								</div>
								<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
												Looking back on my first picture I sent to you makes me realise how far I've gotten in this cut.Starting at 87kg and now at around 75kg. I'm so happy with the results. Thanks for everything man and hopefully we can talk again someday
									<i class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>
								<h3>Jena Karlis</h3>
								<div class="profile mt-auto">
									<img
										src="{% static 'images/testimonials/testimonials-3.jpg' %}"
										class="testimonial-img"
										alt=""
									/>
									
								</div>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-item">
								<div class="stars">
									<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
									><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
									><i class="bi bi-star-fill"></i>
								</div>
								<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
										It's the end of my 6 weeks and I have just stood on the scales and have dropped to 11st 10.5lbs. I have really enjoyed the training and being able to track and eat what foods I want so I'm not craving and then end up having a big binge
									<i class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>
								<h3>Matt Brandon</h3>
								<div class="profile mt-auto">
									<img
										src="{% static 'images/testimonials/testimonials-4.jpg' %}"
										class="testimonial-img"
										alt=""
									/>
									
								</div>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-item">
								<div class="stars">
									<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
									><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i
									><i class="bi bi-star-fill"></i>
								</div>
								<p>
									<i class="bx bxs-quote-alt-left quote-icon-left"></i>
													It's the end of my 6 weeks and I have just stood on the scales and have dropped to 11st 10.5lbs. I have really enjoyed the training and being able to track and eat what foods I want so I'm not craving and then end up having a big binge
									<i class="bx bxs-quote-alt-right quote-icon-right"></i>
								</p>
								<h3>John Larson</h3>
								<div class="profile mt-auto">
									<img
										src="{% static 'images/testimonials/testimonials-5.jpg' %}"
										class="testimonial-img"
										alt=""
									/>
									
								</div>
							</div>
						</div>
						<!-- End testimonial item -->
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</section>
		<!-- ***** Testimonials End ***** -->



			<!-- <div class="row">
				<div class="col-12">
					<div class="card card-style-testimonial border-secondary mb-4">
						<div class="card-body text-center">
							<p class="font-weight-bold text-uppercase logo-font">
								<i class="fas fa-dumbbell mr-2"></i></i>Wonderful
								service
							</p>
							<p>
									I just wanna say thanks for everything man from start to finish you have really helped me get an understanding of how to cut properly. All my questions have been answered and I feel that I now can go on by myself and continue on in the cut for another for weeks.
							</p>
							<p class="font-italic">By Stephen</p>
						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="card card-style-testimonial border-secondary mb-4">
						<div class="card-body text-center">
							<p class="font-weight-bold text-uppercase logo-font">
								<i class="fas fa-dumbbell mr-2"></i>Brilliant
								Training
							</p>
							<p>
								I've got another 3 weeks till my holiday so I'm going to stick to the macros for that time then have a rest but minimise the damage done on holiday then cut down again for summer. I can't thank you enough for the help and what you have taught me it is definitely a sustainable way of living and I'm keen to see what changes will happen in even a years time. Once again thanks.
							</p>
							<p class="font-italic">By Macc</p>
						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="card card-style-testimonial border-secondary mb-4">
						<div class="card-body text-center">
							<p class="font-weight-bold text-uppercase logo-font">
								<i class="fas fa-dumbbell mr-2"></i>Speedy
								weight loose
							</p>
							<p>
								Looking back on my first picture I sent to you makes me realise how far I've gotten in this cut.Starting at 87kg and now at around 75kg. I'm so happy with the results. Thanks for everything man and hopefully we can talk again someday
							</p>
							<p class="font-italic">By Nepthew</p>
						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="card card-style-testimonial border-secondary mb-4">
						<div class="card-body text-center">
							<p class="font-weight-bold text-uppercase logo-font">
								<i class="fas fa-dumbbell mr-2"></i>Amazing
								Training
							</p>
							<p>
								It's the end of my 6 weeks and I have just stood on the scales and have dropped to 11st 10.5lbs. I have really enjoyed the training and being able to track and eat what foods I want so I'm not craving and then end up having a big binge
							</p>
							<p class="font-italic">By Stevenson</p>
						</div>
					</div>
				</div>
			</div> -->
			<div class="row testimonial-page-btns">
				<div class="col text-right">
					<a href="/" class="btn btn-outline-black rounded-0 btn-sm">
						<span class="icon">
							<i class="fas fa-chevron-left" aria-hidden="true"></i>
						</span>
						<span class="text-uppercase">Home</span>
					</a>
				</div>
				<div class="col text-left">
					<a href="{% url 'fitness' view_by='all' %}" class="btn btn-outline-black rounded-0 btn-sm">
						<span class="text-uppercase">View Programs</span>
						<span class="icon">
							<i class="fas fa-chevron-right" aria-hidden="true"></i>
						</span>
					</a>
				</div>
			</div>
		<!-- </div> -->
		<!-- ===== TESTIMONIALS SECTION END ===== -->
<br />

    <!-- ===== FOOTER SECTION START ===== -->

		<!-- ===== FOOTER SECTION END ===== -->

		<!-- jQuery -->

	 {% block postloadjs %}
	<script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

		<!-- Bootstrap -->
		<script src="{% static 'js/popper.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

		<!-- Plugins -->
		<script src="{% static 'js/scrollreveal.min.js' %}"></script>
		<script src="{% static 'js/imgfix.min.js' %}"></script>
		<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'js/swiper/swiper-bundle.min.js' %}"></script>

		<!-- Global Init -->
		<script src="{% static 'js/custom.js' %}"></script>
        {% endblock %}
        {% endblock %}