{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container mb-2 pb-6">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive rounded d-md-block">
                    {% if cart_data.items %}
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in cart_data.items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image_url }}" alt="Artisan Cheese Hamper">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">{{ item.product.price_pretty }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <p class="my-0">{{ item.quantity }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.subtotal }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ cart_data.total }}</strong></h6>
                                    <h6>Delivery: FREE</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ cart_data.total }}</strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href = "{% url 'all_products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left" aria-hidden="true"></i>
                                    </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                        <i class="fas fa-lock" aria-hidden="true"></i>
                                    </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <h4>No Items in Cart</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
