{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="container-fluid px-0 position-relative" id="hero-image">
  <video poster="{% static 'images/banner.PNG' %}" autoplay loop>
    <source src="{% static 'images/banner.mp4' %}" type="video/mp4" />
    <source src="{% static 'images/banner.mp4' %}" type="video/ogg" />
    Your browser does not support the video tag.
  </video>
  <div class="overlay"></div>
  <div class="row" id="hero-text">
    <div class="col-12">
      <div class="max-auto">
        <h1 class="logo-font">
          <span class="underlineTheme">Fitness</span> leads you to a better
          life.
        </h1>
        <div class="d-flex justify-content-center">
          <a
            href="{% url 'all_products' %}"
            class="
              mt-3
              logo-font
              shop-programs-button
              text-uppercase
              pt-2
              pb-1
              px-4
              rounded
              font-weight-bold
              text-decoration-none
            "
          >
            Get Started
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container about-section">
  <div class="row text-center">
    <div class="col">
      <h2 class="logo-font">Ab<span class="underlineTheme">out</span></h2>
      <div class="text-center">
        <p class="text-justify">
          The greatest fitness app on the planet. Whether you’re looking to lose
          fat, build muscle, get stronger or improve performance, we’ve got you
          covered. With over 15 different training plans and hundreds of
          delicious meals, all customised to your individual needs, plus a free
          7 day trial, there’s never been a better time to join the team.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid px-md-0 blog-section">
  <div class="row">
    <div class="col-md-12 col-lg-6 px-0 blog-section-image">
      <img
        class="w-100"
        src="https://img5.goodfon.com/wallpaper/nbig/f/15/back-fitness-gym-power-pose.jpg"
        alt="Body Building"
      />
    </div>
    <div
      class="col-md-12 col-lg-6 px-md-0 text-center testimonial-section-text"
    >
      <h2 class="logo-font testimonial-section-text">
        SUPPLE<span class="underlineTheme">MENTS</span>
      </h2>
      <p class="px-1 px-md-5">
        Your diet doesn't have to be boring! Our supplements are designed for
        high performance training that will help you towards your fitness goals.
      </p>
      <a
        href="{% url 'supplements' %}"
        class="
          logo-font
          text-uppercase
          pt-2
          pb-1
          px-4
          logo-font
          view-blog-btn
          btn btn-lg
          rounded
          text-uppercase
        "
      >
        View Supplements
      </a>
    </div>
  </div>
</section>
<section class="container-fluid px-md-0 testimonial-section">
  <div class="row">
    <div
      class="col-md-12 col-lg-6 px-md-0 text-center testimonial-section-text"
    >
      <h2 class="logo-font testimonial-section-text">
        ONLINE <span class="underlineTheme">COACHING</span>
      </h2>
      <p class="px-1 px-md-5">
        Hundreds of clients who have used my online coaching to get into the
        best shape of their lives.
      </p>
      <a
        href="{% url 'online_coaching' %}"
        class="
          logo-font
          text-uppercase
          pt-2
          pb-1
          px-4
          logo-font
          view-blog-btn
          btn btn-lg
          rounded
          text-uppercase
        "
      >
        View Online Coaching
      </a>
    </div>
    <div class="col-md-12 col-lg-6 px-0 testimonial-section-image">
      <img
        class="w-100"
        src="https://i.ibb.co/LxQym9T/Juan-Morel-Doing-Lunge-Squat-jpg.webp"
        alt="Body Building"
      />
    </div>
  </div>
</section>
{% endblock %}
