{% extends "base.html" %} {% load static %} {% load bootstrap5 %} {% block
content %}
<div class="container header-container2 h-100">
  <div class="overlay"></div>
  <div class="row accounts-row">
    <div class="col-12 col-md-6">
      <div class="form-content">
        <hr />
        <h2 class="logo-font mb-4">
          Sign <span class="underlineTheme">Up</span>
        </h2>
        <hr />
        <p>
          Already have an account? Then please
          <a href="{% url 'login' %}">sign in</a>.
        </p>
        <p style="color: red">
          {% for message in messages %} {{ message }} {% endfor %}
        </p>
        <form
          class="signup"
          id="signup_form"
          action="{% url 'register' next='home' %}"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {% bootstrap_form form %}
          <a class="btn btn-outline-black rounded-0" href="{% url 'login' %}"
            >Back to Login</a
          >
          <button type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
